mixin footer
  .site_footer.inverse_bg
    .container
      .site_footer_title
        .logo
          img(src='/images/logo.png')
        span Деревянное домостроение по всей России
      .site_footer_tel
        span 8 (817) 250-79-09
      .site_footer_order
        a(href='#') Заказать обратный звонок