include ../form/form

mixin intro
    section.intro
        .container
            h1.intro_title Строительство деревянных домов, бань, беседок под ключ
            p.intro_text
                | Заказав строительство у нас, Вы получите теплый, уютный дом, правильно спроектированный и построенный, при этом, не потратив лишних сил и финансовых средств.
            +form