mixin form
    .form_wrapper
        h2.form_title Оставьте заявку на консультацию
        form.form
            input.input(placeholder='Номер телефона')
            button.btn.btn_orange Получить консультацию