mixin gift
    section.gift
        .container
            div.gift_items
                .gift_items_item_description
                    h2.gift_title При заказе дома или бани - проект в подарок
                    p.gift_text Так же сделаем проект по уже готовым эскизам. Расчёт стоимости объекта по проекту - 1-2 дня
                    button.btn.btn_orange Обсудить проект
                .gift_items_item_image
                    img.gift_image(src="/images/7b0fb0925acc226e20eee10369f9b303.png", alt="")