// Normalize Styles
@import 'libs'

// Import Modules
@import ../_modules/link/link
@import "vars"
// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

img 
  max-width: 100%
//начало стилей
html
  font-size: 24px

body
  font-family: Roboto
  font-style: normal
  font-weight: 300
  background: #E5E5E5
  color: #000000
h1, h2
  margin-top: 0
section
  padding-top: 50px
  padding-bottom: 50px
.section_title
  text-align: center
  font-size: 1.5rem
  margin-bottom: 2.5rem
  font-weight: 300
.inverse_bg
  background: #EFEFEF

.container
  position: relative
  width: 1200px
  display: block
  margin: 0 auto
  padding: 0 100px

.btn
  background-blend-mode: overlay, normal
  border-radius: 15px
  padding: 10px 10px
  border: 0
.btn_orange
  @include gradient(#B86212)
  color: #ffffff

.btn_green
  @include gradient($green)
  color: #ffffff

@import ../_modules/intro/intro
@import ../_modules/form/form
@import ../_modules/advantages/advantages