// Normalize Styles
@import node_modules/normalize.css/normalize

// Import Modules
@import ../_modules/link/link
@import "vars"
// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

.yeogurt-info
  text-align: center
  max-width: 500px
  margin-left: auto
  margin-right: auto

.version
  font-size: 14px
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace
  position: absolute
  bottom: 10px
  right: 10px

.logo
  margin-top: 15px

// Styling on warning for users on IE7 or below
.browsehappy
  text-align: center
  margin: 0
  background: #fff8e2
  color: #000
  padding: 0.5em 0

//начало стилей

body
  font-family: Roboto
  font-style: normal
  font-weight: 300
  font-size: 24px
  background: #E5E5E5
  color: #000000

section
  padding-top: 50px
  padding-bottom: 50px

.inverse_bg
  background: #EFEFEF

.container
  position: relative
  width: 1200px
  height: 620px
  display: block
  margin: 0 auto
  padding: 0 100px
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url(../images/549F1009-D55E-4A8C-9E99-B70C57D757F6-12-07-19-06-48-min.jpg)
  background-size: 1200px 620px
  background-position: center center
  background-repeat: no-repeat

.container h1
  position: absolute
  width: 821px
  height: 46px
  top: 43px
  right: 172px
  bottom: 531px
  left: 208px
  font-family: Russo One
  font-style: normal
  font-weight: normal
  font-size: 53px
  line-height: 64px
  text-align: center
  color: #0C730A

.container p
  position: absolute
  width: 777px
  height: 118px
  top: 209px
  right: 197px
  bottom: 293px
  left: 227px
  font-family: Roboto
  font-style: normal
  font-weight: normal
  font-size: 24px
  line-height: 28px
  color: #181818

.form_wrapper
  position: absolute
  width: 868px
  height: 210px
  top: 363px
  bottom: 47px
  left: 94px
  background: #FFFFFF

.form_wrapper h2
  position: absolute
  width: 808px
  height: 29px
  top: 29px
  right: 38px
  bottom: 152px
  left: 22px
  font-family: Roboto
  font-style: normal
  font-weight: 300
  font-size: 24px
  line-height: 28px
  align-items: center
  text-align: center
  color: #000000

.input 
  position: absolute
  width: 333px
  height: 52px
  background: #FFFFFF
  border: 1px solid #000000
  box-sizing: border-box
  border-radius: 15px
  transform: matrix(1, 0, 0, -1, 0, 0)
  top: 100px
  right: 480px
  bottom: 58px
  left: 55px

.btn
  background-blend-mode: overlay, normal
  border-radius: 15px
  padding: 10px 10px
.btn_orange
  @include gradient(#B86212)
  color: #ffffff
.form_wrapper form button
  position: absolute
  width: 333px
  height: 56px
  top: 96px
  right: 121px
  bottom: 58px
  left: 414px
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #B86212
  background-blend-mode: overlay, normal
  border-radius: 15px
.btn_green
  @include gradient($green)
  color: #ffffff

@import ../_modules/intro/intro
@import ../_modules/form/form
@import ../_modules/advantages/advantages