section.why .container
    background-color: #FFFFFF
.why_title
    text-align: center
.why_cells
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: auto auto auto
.why_cell_one
    display: grid
    grid-template-columns: 65% 35%
    grid-template-rows: 15% auto
    img
        display: inline-block
        box-shadow: 16px 17px #5CB812
    h3
        display: inline-block
    p
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 26px;
.why_cell_two
    display: grid
    grid-template-columns 50% 50%
    grid-template-rows 50% 50%
    img
        display: inline-block
        box-shadow: -16px 15px #EABA15
    h3
        display: inline-block
    p
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 26px;