mixin why
  section.why
    .container
      h2.section_title Почему нам доверяют строительство
      div.why_items
        .why_items_item
          .why_items_item_image
            img(src="/images/D0665BE3-3EF9-4E1F-822D-7B178B3E5A5F-12-07-19-06-48-min.jpg", alt="")
          .why_items_item_description
            h3.why_items_item_description_title Большой опыт строительства по всей России
            .why_items_item_description_text
              p Нами построено множество объектов по России в течение последних 7 лет нашей работы.
              p В строительстве используется только качественная, здоровая древесина с севера Вологодской и Архангельской областей.
        .why_items_item
          .why_items_item_image.image_orange
            img(src="/images/IMG_0367-12-07-19-06-48-min.jpg", alt="")
          .why_items_item_description
            h3.why_items_item_title Гарантия на объекты - 3 года после сдачи
            .why_items_item_text
              p Уверены в качестве своих объектов, поэтому можем гарантировать высокое качество перед вводом всех объектов в эксплуатацию.
        .why_items_item
          .why_items_item_image
            img(src="/images/IMG_0284-12-07-19-06-48-min.jpeg", alt="")
          .why_items_item_description
            h3.why_items_item_title Строим в среднем за 2-3 месяца
            .why_items_item_description_text
              p Свои бригады профессиональных рабочих по выполнению строительных задач.
              p Строим дома из оцилиндрованного бревна, клеёного бруса, рубленные дома. Фундаменты разных сложностей.

