mixin why
    section.why
        .container
            h2.why_title Почему нам доверяют строительство
            div.why_cells
                .why_cell_one
                    h3.why_head_one Большой опыт строительства по всей России
                    p.why_text_one.
                        Нами построено множество объектов по России в течение последних 7 лет нашей работы.<br><br>
                        В строительстве используется только качественная, здоровая древесина с севера Вологодской и Архангельской областей.
                    img.why_img_one(src="images/D0665BE3-3EF9-4E1F-822D-7B178B3E5A5F-12-07-19-06-48-min.JPG", alt="")   
                .why_cell_two 
                    img.why_img_two(src="images/IMG_0367-12-07-19-06-48-min.JPG", alt="")
                    h3.why_head_two Гарантия на объекты - 3 года после сдачи
                    p.why_text_two.
                        Уверены в качестве своих объектов, поэтому можем гарантировать высокое качество перед вводом всех объектов в эксплуатацию.
                .why_cell_three
                    h3.why_head_three Строим в среднем за 2-3 месяца
                    p.why_text_three.
                        Свои бригады профессиональных рабочих по выполнению строительных задач.<br><br>
                        Строим дома из оцилиндрованного бревна, клеёного бруса, рубленные дома. Фундаменты разных сложностей.
                    img.why_img_three(src="images/IMG_0284-12-07-19-06-48-min.jpeg", alt="")