.why
  &_title
    text-align: center
  &_items
    &_item
      display: grid
      grid-gap: 80px
      margin-bottom: 80px
      &:last-child
        margin-bottom: 0
      &:nth-child(2n)
        grid-template-columns: 4fr 6fr
        .why_items
          &_item
            &_image
              img
                box-shadow: -16px 17px #EABA15
      &:nth-child(2n+1)
        grid-template-columns: 6fr 4fr
        .why_items
          &_item
            &_description
              grid-row: 1
              grid-column: 1
            &_image
              grid-column: 2
              img
                box-shadow: 16px 17px #5CB812
      &_description
        &_title
          margin: 0 0 1rem
      .why_items_item_image
        img
          display: inline-block

@media (max-width: $lg)
  .why
    &_items
      &_item
        grid-gap: 50px

@media (max-width: $sm)
  .why
    &_items
      &_item
        margin-bottom: 40px
        &:nth-child(2n+1),&:nth-child(2n)
          grid-template-columns: 1fr
          .why_items_item
            &_image
              grid-column: unset
            &_description
              grid-row: unset