mixin header
    header.site_header
        div.container
            div.logo
                img(src='/images/logo.png')
            div.site_header_title
                span Деревянное домостроение по всей России
                span Минимальные сроки, гарантия, экологичность, тепло
            div.site_header_menu
                ul.site_header_menu_wrapper
                    li.site_header_menu_item
                        a(href='#') Фотографии
                    li.site_header_menu_item
                        a(href='#') Акция
                    li.site_header_menu_item
                        a(href='#') Как мы работаем
                    li.site_header_menu_item
                        a(href='#') Контакты
            div.site_header_telephones
                span.site_header_telephones_tel 8 (817) 250-79-09
                span.site_header_telephones_tel 8 (911) 528-02-28
                span.site_header_telephones_tel 8 (921) 066-27-00
            button.btn.btn_green Заказать звонок

