mixin how
    section.how
        .container
            h2.how_title Как мы работаем?
            .how_items
                .how_items_item
                    .how_items_item_img
                        img(src="/images/икон1.png", alt="")
                    .how_items_item_text
                        p Предварительный расчет
                .how_items_item
                    .how_items_item_img
                        img(src="/images/икон2.png", alt="")
                    .how_items_item_text
                        p Проектирование
                .how_items_item
                    .how_items_item_img
                        img(src="/images/икон3.png", alt="")
                    .how_items_item_text
                        p При заключение договора предоплата 50%
                .how_items_item
                    .how_items_item_img
                        img(src="/images/икон4.png", alt="")
                    .how_items_item_text
                        p Завершение всех работ, расчёт
                .how_items_item
                    .how_items_item_img
                        img(src="/images/икон5.png", alt="")
                    .how_items_item_text
                        p Работы по монтажу стенового комплекта
                .how_items_item
                    .how_items_item_img
                        img(src="/images/икон6.png", alt="")
                    .how_items_item_text
                        p Изготовление домокомплекта                       