mixin contacts
  section.contacts
    .container
      h2.section_title Наши контакты
      .contacts_items
        each val in site.data.contacts
          .contacts_items_item
            .contacts_items_item_img
              img(src=val.src)
            .contacts_items_item_caption=val.caption
