+mixin contacts 
  section.contacts
    h2.section_title Наши контакты
    .contacts_items 
      each val in [{src : '/images/', caption : 'г.Вологда'}]
        .contacts_items_item 
          .contacts_items_item_img
            img(src=val.src)
          .contacts_items_item_caption=val.caption
