extends _layouts/base

include _modules/link/link
include _modules/intro/intro

include _modules/advantages/advantages
include _modules/contacts/contacts
include _modules/gallery_section/gallery_section

block content
    +intro
    +advantages
    +gallery_section('s', site.data.building_photo)
